@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Forum&display=swap");
* {
  margin: 0;
  padding: 0;
}

header {
  font-family: "Bebas Neue", sans-serif;
  background-color: #CC592B;
  position: sticky;
  top: 0;
  z-index: 1000;
}
header h1 a {
  text-decoration: none;
  color: #01161E;
  font-size: 50px;
  display: flex;
  justify-content: center;
}

nav ul {
  text-decoration: none;
  color: #01161E;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
  margin-bottom: 0px;
}
nav ul li a {
  text-decoration: none;
  color: #01161E;
}

.navbar-nav {
  --bs-nav-link-hover-color: #006363;
}

.navbar-collapse {
  display: flex;
  justify-content: center;
}

main {
  font-family: "Forum", serif;
  color: #01161E;
}
main section h2 {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 90px;
  padding-top: 150px;
  padding-left: 150px;
  text-shadow: -1px -1px 0 #01161E, 1px -1px 0 #01161E, -1px 1px 0 #01161E, 1px 1px 0 #01161E, 0 0 10px #CC592B, 0 0 20px #CC592B, 0 0 40px #CC592B;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/ChatGPT Image 22 may 2025, 13_59_31.png");
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  color: #CC592B;
  position: relative;
}
.hero button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  width: 150px;
  margin-top: 75px;
  margin-left: 150px;
  padding: 10px 20px;
  background-color: #710B0B;
  color: #01161E;
  border: none;
  border-radius: 7px;
  transition-timing-function: cubic-bezier(0.84, -0.63, 0.05, 1.87);
  transition-property: width;
  transition-duration: 0.5s;
}
.hero button:hover {
  width: 15%;
}
.hero button a {
  text-decoration: none;
  color: #CC592B;
}

.sponsors {
  max-width: 100%;
  padding: 40px 20px;
  background-color: hsl(359, 100%, 50%);
  background-image: radial-gradient(circle at 0% 99%, hsl(11, 100%, 50%) 0%, transparent 67%), radial-gradient(circle at 46% 94%, hsl(177, 100%, 50%) 0%, transparent 81%), radial-gradient(circle at 89% 8%, hsl(55, 0%, 0%) 0%, transparent 150%), radial-gradient(circle at 89% 8%, hsl(304, 100%, 9%) 0%, transparent 150%), radial-gradient(circle at 89% 8%, hsl(206, 100%, 9%) 0%, transparent 150%), radial-gradient(circle at 93% 95%, hsl(236, 100%, 23%) 0%, transparent 66%), radial-gradient(circle at 89% 8%, hsl(0, 100%, 99%) 0%, transparent 150%), radial-gradient(circle at 89% 8%, hsl(55, 94%, 54%) 0%, transparent 150%);
  background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal;
  text-align: center;
  color: #fff;
}

.sponsors-titulo {
  font-size: 75px;
  margin-bottom: 30px;
  align-items: center;
  padding-left: 0;
  padding-top: 30px;
}

.orden-tarjetas {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.orden-tarjetas img {
  width: 315px;
  height: 300px;
}

.especialidades {
  max-width: 100%;
  padding: 40px 20px;
  background-color: hsl(28, 30%, 14%);
  background-image: radial-gradient(circle at 23% 3%, hsla(18, 96%, 48%, 0.37) 3.1210986267%, transparent 76.4190383018%), radial-gradient(circle at 100% 93%, hsla(354, 70%, 55%, 0.21) 3.1210986267%, transparent 45.3848757125%), radial-gradient(circle at 0% 5%, hsla(33, 56%, 60%, 0.7) 3.1210986267%, transparent 40%), radial-gradient(circle at 96% 103%, hsla(288, 76%, 39%, 0.1) 3.1210986267%, transparent 50.0047517726%), radial-gradient(circle at 80% 0%, hsla(326, 80%, 48%, 0.23) 3.1210986267%, transparent 24.8197472766%);
  background-blend-mode: normal, normal, normal, normal, normal;
  text-align: center;
}

.tarjeta {
  background-color: #710B0B;
  height: 400px;
  border-radius: 10px;
  width: 315px;
  margin: auto;
}
.tarjeta img {
  border-radius: 10px;
}
.tarjeta button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  width: 150px;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: #CC592B;
  color: #01161E;
  border: none;
  border-radius: 7px;
  transition-timing-function: cubic-bezier(0, 1.13, 0.32, 1.28);
  transition-property: width;
  transition-duration: 0.5s;
}
.tarjeta button:hover {
  width: 55%;
}

.delivery {
  background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.514)), url("../img/ventajas-servicio-entrega-domicilio.jpg");
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.delivery h2 {
  font-size: 75px;
  margin-bottom: 30px;
  align-items: center;
  padding-left: 0;
  padding-top: 30px;
}
.delivery button {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  width: 150px;
  margin-top: 75px;
  padding: 10px 20px;
  background-color: #006363;
  color: #01161E;
  border: none;
  border-radius: 7px;
  align-items: center;
  transition-timing-function: cubic-bezier(0, 1.13, 0.32, 1.28);
  transition-property: width;
  transition-duration: 0.5s;
}
.delivery button:hover {
  width: 17%;
}
.delivery button a {
  text-decoration: none;
  color: #CC592B;
}

body {
  background-color: hsl(0, 0%, 2%);
  background-image: radial-gradient(circle at 3% 6%, hsl(18.2608695652, 72%, 49%) 15%, transparent 65%), radial-gradient(circle at 3% 101%, hsl(0, 0%, 2%) 13.7975748118%, transparent 65%), radial-gradient(circle at 97% 7%, hsl(240, 7%, 29%) 15%, transparent 65%), radial-gradient(circle at 98% 98%, hsl(0, 0%, 2%) 15%, transparent 63.3109974373%), radial-gradient(circle at 46% 98%, hsl(240, 0%, 2%) 20.5938930494%, transparent 49.6066061888%);
  background-blend-mode: normal, normal, normal, normal, normal;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#sobre-nosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 2%);
  background-image: radial-gradient(circle at 3% 6%, hsl(18.2608695652, 72%, 49%) 15%, transparent 65%), radial-gradient(circle at 3% 101%, hsl(0, 0%, 2%) 13.7975748118%, transparent 65%), radial-gradient(circle at 98% 98%, hsl(0, 0%, 2%) 15%, transparent 63.3109974373%), radial-gradient(circle at 97% 7%, hsl(240, 7%, 29%) 15%, transparent 65%), radial-gradient(circle at 46% 98%, hsl(240, 0%, 2%) 20.5938930494%, transparent 49.6066061888%);
  background-blend-mode: normal, normal, normal, normal, normal;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: -1px -1px 0 #01161E, 1px -1px 0 #01161E, -1px 1px 0 #01161E, 1px 1px 0 #01161E, 0 0 10px #CC592B, 0 0 20px #CC592B, 0 0 40px #CC592B;
}
#sobre-nosotros h1 {
  font-family: "Bebas Neue", sans-serif;
}

.contenido-sobre-nosotros {
  max-width: 800px;
  text-align: left;
  margin-top: 35px;
}

.modalidad-atencion {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background-color: hsl(305, 0%, 0%);
  background-image: radial-gradient(circle at 93% 93%, hsla(212, 0%, 0%, 0) 14.4899989912%, transparent 72%), radial-gradient(circle at 26% 9%, hsl(212, 0%, 0%) 0%, transparent 45%), radial-gradient(circle at 15% 79%, hsl(257.1428571429, 91%, 27%) 2.9253667597%, transparent 22.3888516821%), radial-gradient(circle at 40% 104%, hsl(37.0588235294, 100%, 50%) 3.9853538247%, transparent 47.5802786089%), radial-gradient(circle at 0% 60%, hsl(224.4444444444, 72%, 36%) 2.3912003826%, transparent 29.3076845568%), radial-gradient(circle at 92% 37%, hsl(248.3076923077, 52%, 24%) 2.9253667597%, transparent 22.3888516821%), radial-gradient(circle at 101% 16%, hsl(212.4705882353, 100%, 50%) 13.1736423633%, transparent 31.7473365204%), radial-gradient(circle at 104% 56%, hsl(29.1176470588, 71%, 60%) 3.9853538247%, transparent 13.1030421164%), radial-gradient(circle at 97% 19%, hsl(219.2079207921, 83%, 23%) 18.5970545447%, transparent 31%);
  background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal;
}
.modalidad-atencion img {
  padding: 30px;
  width: 500px;
  border-radius: 55px;
}

.subtitulo-parrafo {
  color: #ffece4;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 10px #813c0e, 0 0 20px #813c0e, 0 0 40px #813c0e;
  font-size: 20px;
  max-width: 800px;
}
.subtitulo-parrafo h2 {
  font-size: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  color: #ffece4;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black, 0 0 10px #813c0e, 0 0 20px #813c0e, 0 0 40px #813c0e;
  font-family: "Bebas Neue", sans-serif;
}

.pedir {
  background-color: hsl(187, 95%, 9%);
  background-image: radial-gradient(circle at 12% 95%, hsl(0, 82%, 24%) 11.2330762748%, transparent 48.9177604588%), radial-gradient(circle at 59% 89%, hsl(17, 65%, 48%) 4.4688282365%, transparent 45.9369284451%), radial-gradient(circle at 98% 97%, hsl(180, 100%, 19%) 9.0992436999%, transparent 43.2040031775%), radial-gradient(circle at 58% 24%, hsl(17, 43%, 13%) 8.3445619444%, transparent 45.2102972471%), radial-gradient(circle at 85% 18%, hsl(212.7573529412, 82%, 17%) 8.3445619444%, transparent 45.2102972471%);
  background-blend-mode: normal, normal, normal, normal, normal;
  padding-bottom: 20px;
}

.row {
  display: flex !important;
  justify-content: center !important;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  width: 80%;
}

.card {
  transition: 0.5s;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 4px 8px 35px -16px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 8px 35px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 8px 35px -16px rgba(0, 0, 0, 0.75);
}

.card-title {
  font-family: "Bebas Neue", sans-serif;
}

.card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Forum", serif;
}

.boton-tarjeta-pedir {
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #710B0B;
  color: white;
  padding: 8px 16px;
  font-family: "Bebas Neue", sans-serif;
  border: none;
}
.boton-tarjeta-pedir:hover {
  background-color: #006363;
}

.preguntas-frecuentes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  align-items: center;
  padding: 2rem;
}

.accordion {
  margin: 25px;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
}

.accordion-item {
  width: 100%;
}

.accordion-header {
  padding-top: 0;
  padding-left: 0;
}

.preguntas-frecuentes img {
  width: 270px;
}

/*!---------ESILOS MENU--------*/
.titulo-menu {
  font-size: 75px;
  margin-bottom: 30px;
  align-items: center;
  padding-left: 0;
  padding-top: 30px;
  color: #f7e693;
  text-shadow: -1px -1px 0 #01161E, 1px -1px 0 #01161E, -1px 1px 0 #01161E, 1px 1px 0 #01161E, 0 0 10px #ffece4, 0 0 20px #CC592B, 0 0 40px #6d6461;
}

/**----FOOTER-------------*/
footer {
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  color: #01161E;
  background-color: #CC592B;
  width: 100%;
  margin-top: auto;
}

.redes {
  display: flex;
  justify-content: center;
  gap: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.redes a {
  text-decoration: none;
  color: #006363;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff, 0 0 10px #006363, 0 0 20px #006363, 0 0 40px #006363;
}

.logos_redes {
  width: 50px;
}

@media screen and (max-width: 1020px) {
  main section h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90px;
    padding-left: 0px;
    text-shadow: -1px -1px 0 #01161E, 1px -1px 0 #01161E, -1px 1px 0 #01161E, 1px 1px 0 #01161E, 0 0 10px #CC592B, 0 0 20px #CC592B, 0 0 40px #CC592B;
  }
  .hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/t_5e1d6f86c1bd5.webp");
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #CC592B;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    width: 150px;
    margin-top: 75px;
    margin-left: 0px !important;
    padding: 10px 20px;
    background-color: #710B0B;
    color: #01161E;
    border: none;
    border-radius: 7px;
    transition-timing-function: cubic-bezier(0.84, -0.63, 0.05, 1.87);
    transition-property: width;
    transition-duration: 0.5s;
  }
  .hero button:hover {
    width: 20%;
  }
  .orden-tarjetas {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .redes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 15px;
  }
  .delivery {
    background: linear-gradient(rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.514)), url("../img/ventajas-servicio-entrega-domicilio.jpg");
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .delivery button {
    font-family: "Bebas Neue", sans-serif;
    font-size: 25px;
    width: 150px;
    margin-top: 75px;
    margin-left: 0px;
    padding: 10px 20px;
    background-color: #006363;
    color: #01161E;
    border: none;
    border-radius: 7px;
    position: static;
    transition-timing-function: cubic-bezier(0, 1.13, 0.32, 1.28);
    transition-property: width;
    transition-duration: 0.5s;
  }
  .delivery button:hover {
    width: 17%;
  }
}
@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  .delivery button {
    transition-duration: 0.3s;
  }
  .delivery button:hover {
    width: 17%;
  }
}
@media screen and (max-width: 765px) {
  .contenido-sobre-nosotros {
    text-align: center;
  }
  .contenido-sobre-nosotros p {
    max-width: 560px;
  }
  .subtitulo-parrafo p {
    max-width: 560px;
    text-align: center;
  }
}
@media screen and (max-width: 675px) {
  .orden-tarjetas {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    gap: 25px;
  }
  .redes {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 559px) {
  .contenido-sobre-nosotros p {
    max-width: 400px;
  }
  .subtitulo-parrafo p {
    max-width: 400px;
    text-align: center;
  }
}
@media screen and (max-width: 439px) {
  .sponsors-titulo {
    font-size: 58px;
  }
  main section h2 {
    padding-left: 30px;
  }
  .modalidad-atencion img {
    width: 450px;
  }
}
@media screen and (max-width: 429px) {
  .delivery button:hover {
    width: 40%;
  }
  .subtitulo-parrafo h2 {
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .contenido-sobre-nosotros p {
    max-width: 250px;
    margin-left: 5px;
  }
  .subtitulo-parrafo p {
    max-width: 250px;
    text-align: center;
    margin-left: 75px;
  }
  .subtitulo-parrafo h2 {
    text-align: center;
  }
}
@media screen and (max-width: 389px) {
  .modalidad-atencion img {
    width: 390px;
  }
}
@media screen and (max-width: 360px) {
  .subtitulo-parrafo p {
    margin-left: 56px;
  }
}

/*# sourceMappingURL=estilos.css.map */
